/* border box fix */
html {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1em;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 1em 2em;
    background-color: #fff;
    color: rgb(6,109,168);
}

.container {
    display: grid;
    grid-template: repeat(4, auto) / 9% 90%;
    grid-gap: 1em 1%;
    width: 100%;
}

.header {
    display: flex;
    grid-column: 2/3;
}

.aside {
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
}

.header, .aside {
    color: rgb(186,0,0);
    font-weight: bold;
}

.group {
    display: inline-block;
    margin: 2px 1px;
    padding: 0.5em 0;
    width: 100%;
}

.group, .period {
    color: rgb(6,109,201);
    text-align: center;
}

.aside .box {
    width: 100%;
    padding: 1.25em 0;
    border: 1px solid #fff;
}

.table1 {
    display: flex;
    align-items: flex-end;
}

.table1 div {
    display: flex;
    width: 5.5555%;
    flex-direction: column;
}

.box {
    display: inline-block;
    margin: 2px 1px;
    padding: 0.5em 0;
    width: 5.5555%;
    text-align: center;
}

a.box {
    border-radius: 2px;
    border: 1px solid #000;
    color: rgb(6,109,168);
    text-decoration: none;
}

a.box:hover,
a.box:focus {
    outline: 2px dotted #777;
}

.table1 a.box {
    width: calc(100% - 2px);
}

a.box span {
    display: block;
    margin-bottom: 0.5em;
    color: #000000;
}

.table2 {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
}

.table2 div {
    display: flex;
    justify-content: flex-end;
}

.table2 a.box {
    width: calc(5.5555% - 2px);
}

.footer {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
}

.footer div {
    display: flex;
    justify-content: center;
}

.footer span {
    display: inline-block;
    align-self: center;
    width: 14%;
    margin: 2px 1px;
    padding: 0.5em;
}

.metale_alcaline {
    background-color: rgb(255,102,102);
}

.metale_alcalino_p {
    background-color: rgb(255,222,173);
}

.lantanide {
    background-color: rgb(255,191,255);
}

.actinide {
    background-color: rgb(255,153,204);
}

a.actinide {
    border: 1px dotted #000;
}

a.no_border {
    border: 1px solid #fff;
}

.metale_de_t {
    background-color: rgb(255,192,192);
}

.metale_de_p_t {
    background-color: rgb(204,204,204);
}

.metaloizi {
    background-color: rgb(204,204,153);
}

.nemetale {
    background-color: rgb(160,255,160);
}

a.nemetale span {
    color: rgb(255,0,85);
}

.halogeni {
    background-color: rgb(255,255,153);
}

.gaze_nobile {
    background-color: rgb(192,255,255);
}

a.gaze_nobile span {
    color: rgb(255,0,85);
}

@media all and (min-width: 701px) and (max-width: 900px) {
    html {
        font-size: 13px;
    }
}

@media all and (min-width: 601px) and (max-width: 700px) {
    html {
        font-size: 12px;
    }
}

@media all and (min-width: 501px) and (max-width: 600px) {
    html {
        font-size: 11px;
    }
}

@media all and (max-width: 500px) {
    html {
        font-size: 10px;
    }
}
